<p>home works!</p>

<!-- <h1>A</h1>
<button  mat-raised-button    (click)="RouteAbout()">Click</button>

<a [routerLink]="['/about','41']">Check About</a> -->

<label>Sort List:</label>
  <select (change)="Sortdata($event)">
    <option value="Id">Sort By Id</option>
    <option value="Name">A-Z Sort</option>
    <option value="Email">Sort By Email</option>

  </select>

<ul >
    @for (user of listData; track user) {
      <ng-container >
          <li>
            {{ user.name }} ( {{user.id}} )
        </li>
      </ng-container>
    }
</ul>

<span style="padding: 25px;">
  <input type="text" [(ngModel)]="Password" placeholder="Enter Password" style="padding: 5px;" (keyup.enter)="checkValid()">
  <button (click)="checkValid()">Save Password</button>
</span>
